@use "var";

//form start
.card {
    margin: -140px auto 60px auto;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(245, 248, 255, 0.841) 0%, rgba(55, 79, 126, 0.2) 100%);
    -webkit-backdrop-filter: blur(10px); 
    backdrop-filter: blur(10px);
    border-radius: 10px;
    @media screen and (min-width: 880px){
      margin: -180px auto 60px auto;
      width: 800px;
    }
  }
  
.form {
padding: 30px 20px;
@media screen and (min-width: 650px){
    padding: 60px 50px 50px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 30px;
}


&__field {
    position: relative;
    margin-bottom: 30px;
    @media screen and (min-width: 650px){
        margin-bottom: 0;
    }
    &--text {
    @media screen and (min-width: 650px){
        grid-column: 1/3;
        grid-row: 3 /5;
    }
    }
}

&__input {
    height: 40px;

    &:focus ~ .form__label,
    &:valid ~ .form__label,
    &:focus ~ .form__textarea,
    &:valid ~ .form__textarea {
        top: -10px;
        font-size: 14px;
    }
}
&__input, .form__textarea {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #f3f7ff9b;
    border-radius: 10px;
}
.form__textarea {
    height: 120px;
}

&__label {
    position: absolute;
    top: 20px;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

//----------------------------------------
&__gdpr {
    font-size: 14px;
    margin: 25px 10px;
    color: var.$c-primary-light;
}

&__btn {
    margin: 10px;
    display: inline-block;
    text-align: center;
    font-weight: var.$regular;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    padding: 15px 35px;
    border-radius: 15px;
    //light
    font-size: 18px;
    color: var.$c-primary-light;
    
    background: linear-gradient(160deg, #999eb43f, #fff);
    box-shadow:  
            6px 6px 11px #989db3b3,
            -6px -6px 11px #ffffffb3;
    transition: color .5s;    
    cursor: pointer;
    outline: none;
    border: none;

    &:hover {
        box-shadow: 
            inset 6px 6px 11px #999eb4a0,
            inset -6px -6px 11px #fff;
        color: var.$c-primary;
    }
}
}
//form end

//kontakt start
.contact {
    &__top{
        padding: 50px 20px 150px 20px;  
        text-align: center;

        @media screen and (min-width: 880px){
        padding: 150px 0 250px 0;  
        }
    }
    &__cols-3 {
        margin: 60px auto 0 auto;
        text-align: center;
        @media screen and (min-width: 880px){
        max-width: 800px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        }
    }
    &__info {
        display: block;
        text-align: center;
        font-weight: var.$thin;
        text-transform: uppercase;
        color: var.$c-secondary-light;
        font-size: 14px;
        margin-bottom: 25px;
        @media screen and (min-width: 880px){
        border-left: 3px solid var.$c-secondary;
        text-align: left;
        padding-left: 20px;
        }
    }
    &__link {
        text-transform: none;
        color: var.$c-light;
        font-size: 20px;
        &:hover {
        color: var.$c-secondary-light;
        }
    }

    &__center {
        text-align: center;
        padding-bottom: 80px;
        .title-dark {
        margin: 0;
        }
    }
    &__text-center {
        margin-bottom: 30px;
        @media screen and (min-width: 790px){
        padding: 0 200px;
        }
        @media screen and (min-width: 1100px){
        padding: 0 350px;
        }
    }

    &__cols-2 {
        @media screen and (min-width: 650px){
        display: flex;
        align-items: flex-end;
        }
    }
    &__col p {
        color: var.$c-primary-light;
        font-size: 14px;
    }
    &__spacer {
    padding-bottom: var.$spacer;
    }
}
//kontakt end