---
layout: layouts/main-layout.njk
title: Kateřina Procházková | Home page
---
    
<header class="header-line bg-circles-dark"> 

    <div class="container">
        
        <!--Menu-->
        {% include 'partials/menu.njk' %}

        <div class="hero">
            <h2 class="hero__text">Digitální designer</h2>
            <h1 class="hero__title">Navrhuji a&nbsp;kóduji<br> webové stránky</h1>
            <a class="btn btn--dark" href="/portfolio/">Portfolio</a>
        </div>

    </div>

    <div class="icon icon--vertical">
        <a href="" class="icon__link icon__link--vertical"><i class="fab fa-facebook-f"></i></a>
        <a href="" class="icon__link icon__link--vertical"><i class="fab fa-instagram"></i></a>
        <a href="" class="icon__link icon__link--vertical"><i class="fab fa-linkedin-in"></i></a>
    </div>

</header>

<main class="content-main">

    <section class="content-line bg-circles-light--turn ">

        <div class="container">

            <h2 class="title-dark">S čím vám mohu pomoci?</h2>

            <div class="service">

                <div class="service__description">
                    <img class="service__img" src="/images/icon1.png" alt="">
                    <h3 class="service__title">Grafický návrh webu</h3>
                    <p class="service__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum fermentum tortor id mi.  dui leo, imperdiet in, aliquam.</p>
                </div>

                <div class="service__description">
                    <img class="service__img" src="/images/icon2.png" alt="">
                    <h3 class="service__title">Tvorba ikon a ilustrací</h3>
                    <p class="service__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum fermentum tortor id mi.  dui leo, imperdiet in, aliquam.</p>
                </div>

                <div class="service__description">
                    <img class="service__img" src="/images/icon3.png" alt="">
                    <h3 class="service__title">kódování webových stránek</h3>
                    <p class="service__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum fermentum tortor id mi.  dui leo, imperdiet in, aliquam.</p>
                </div>

            </div>

            <div class="center">
                <p class="center__text--italic">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

                <a class="btn btn--light" href="/portfolio/">Více o službách</a>
            </div>

        </div>

    </section>

    <section class="content-line">

        <div class="container">

            <h2 class="title-dark">Vybrané reference</h2>

            <div class="portfolio">
                <img class="portfolio__img" src="/images/Group opacity.png" alt="Prezentace webové stránky pro truhlářství Procházka">

                <div class="portfolio__description">

                    <div class="portfolio__labels">
                        <span class="portfolio__label--light">wireframe</span>
                        <span class="portfolio__label--light">webdesign</span>
                        <span class="portfolio__label--light">kódování</span>
                    </div>

                    <a class="portfolio__title" href="/">domenawebu.cz</a>

                    <p class="portfolio__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quos vel explicabo, dolorum nesciunt ipsa voluptatum sed id aperiam molestiae ducimus molestias.</p>

                    <a class="btn btn--light" href="/portfolio/portfolio-detail/">Prohlédnout detail</a>
                    
                </div>

            </div>

            <div class="portfolio">
                <img class="portfolio__img portfolio__img--turn" src="/images/portfolio.png" alt="Prezentace webové stránky pro truhlářství Procházka">

                <div class="portfolio__description portfolio__description--turn">

                    <div class="portfolio__labels">
                        <span class="portfolio__label--light">wireframe</span>
                        <span class="portfolio__label--light">webdesign</span>
                        <span class="portfolio__label--light">kódování</span>
                    </div>

                    <a class="portfolio__title" href="/">domenawebu.cz</a>

                    <p class="portfolio__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quos vel explicabo, dolorum nesciunt ipsa voluptatum sed id aperiam molestiae ducimus molestias.</p>

                    <a class="btn btn--light" href="/">Prohlédnout detail</a>
                    
                </div>

            </div>

            <div class="center">
                <p class="center__text--italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Porro quos vel explicabo, dolorum nesciunt ipsa voluptatum.</p>

                <a class="btn btn--light" href="/portfolio/">Další práce</a>
            </div>

        </div>

    </section>

    {% include 'partials/tool.njk' %}

</main>

