---
layout: layouts/main-layout.njk
title: O mně | Kateřina Procházková
---
    
<header class="bg-circles-dark top-shadow"> 

    <div class="container">

        <!--Menu-->
        {% include 'partials/menu.njk' %}

    </div>

    <div class="content__hero container">

        <h2 class="title-gradient">Kdo jsem a jak jsem se k&nbsp;tvorbě webů dostala</h2>

    </div>

</header>

<main class="content-main">

    <section class="content-line bg-circles-light--turn">

        <div class="container">

            <div class="about__grid about__grid--center about__spacer">

                <div>
                    <p class="about__text">Tvorbě webů se věnuji něco přes dva roky a neskutečně mě baví tento svět IT objevovat. Kdyby mi tohle někdo řekl před třemi lety, asi bych nevěřila, že mě tento obor bude naplňovat. Můj život se ubíral trošku jiným směrem, chtěla jsem navrhovat transportní design. Mnoho pokusů a omylů najít to, co mě opravu bude bavit, bylo náročné, ale stálo to za to!</p>

                    <p class="about__text about__text--italic">„Tento obor je nekončící výzva <br> a to mě na tom baví asi nejvíc.“</p>

                </div>

                <img class="about__img" src="/images/katerinaprochazkova-br.png" alt="Portrét - Kateřina Procházková">

            </div>

            <div class="about__grid">

                <div>
                    <h2 class="about__title">Vzdělání</h2>

                    <p>V kreativním oboru jsem více jak půl svého života. Pracovala jsem více jak 10 let v 3D, ale&nbsp;ve 2D a&nbsp;digitální grafice jsem se našla.</p> 
                </div>

                <div class="about__list">
                    <h3>Design</h3>
                    <p>Fakulta designu a umění Ladislava Sutnara Západočeské univerzity</p>

                    <h3>Produktový design</h3>
                    <p>Fakulta designu a umění Ladislava Sutnara Západočeské univerzity</p>

                    <h3>Průmyslový design</h3>
                    <p>Vyšší odborná a střední průmyslová škola Šumperk</p>
                </div>

            </div>

        </div>

    </section>

    {% include 'partials/worklist.njk' %}

    {% include 'partials/tool.njk' %}

</main>

    