---
layout: layouts/main-layout.njk
title: Služby | Kateřina Procházková
---
    
<header class="bg-circles-dark top-shadow"> 

    <div class="container">

        <!--Menu-->
        {% include 'partials/menu.njk' %}

    </div>

    <div class="content__hero container">

        <h2 class="title-gradient">Navrhuji přehledné weby s&nbsp;důrazem na&nbsp;detail a&nbsp;funkčnost</h2>

    </div>

</header>

<main class="content-main">

    <section class="content-line bg-circles-light--turn">

        <div class="container padding">
        <!--služby 01-->
            <div class="service__cols-2">

                <img class="service__img service__col01" src="/images/icon1.png" alt="">

                <div class="service__col02">
                    <h3 class="service__title">Tvořím webové stránky</h3>
                    <p>Navrhuji webové stránky s důrazem na detail a funkčnost. Začínám důkladnou analýzou Vašeho stávajícího webu a rešerší konkurence na trhu, poté vytvořím správné otázky, aby návrh webových stránek odpovídal Vašim potřebám a byl uživatelsky použitelný a přístupný. Grafický návrh vytvářím v programu Adobe XD.</p>

                    <div class="service__labels">
                        <span class="service__label">Analýza</span>
                        <span class="service__label">Dotazník</span>
                        <span class="service__label">Wireframe</span>
                        <span class="service__label">Grafický návrh</span>
                        <span class="service__label">Kódování</span>
                        <span class="service__label">WordPress</span>
                    </div>
                </div>

            </div>

        <!--služby 02-->
            <div class="service__cols-2">

                <img class="service__img service__col01" src="/images/icon2.png" alt="">

                <div class="service__col02">
                    <h3 class="service__title">Tvorba ikon a ilustrace</h3>
                    <p>Zhotovím ikony na míru, tak aby odpovídaly vzhledu Vaším webovým stránkám. Snažím se navrhnou jednoduché, ale výstižné ikony, které ulehčí uživateli intuitivnější pohyb na webu. Vytvořím i jednoduchou digitální ilustraci.</p>

                    <div class="service__labels">
                        <span class="service__label">Ikony pro webové stránky</span>
                        <span class="service__label">Digitální ilustrace</span>
                    </div>
                </div>

            </div>
            
        <!--služby 03-->
            <div class="service__cols-2">

                <img class="service__img service__col01" src="/images/icon3.png" alt="">

                <div class="service__col02">
                    <h3 class="service__title">Kódování webových stránek</h3>
                    <p>Kódují responzivní webové stránky pomocí HTML5 a CSS3, pro svoji práci ráda používám preprocesor Sass a metodiku BEM.  Když je potřeba realizuji projekty ve frameworku Bootsrap. Mnoho webů jsem zrealizovala i na WordPressu pomocí page builderu Elementor.</p>

                    <div class="service__labels">
                        <span class="service__label">HTML</span>
                        <span class="service__label">CSS</span>
                        <span class="service__label">Flexbox</span>
                        <span class="service__label">Grid</span>
                        <span class="service__label">Responzivní webové stránky</span>
                        <span class="service__label">Sass</span>
                        <span class="service__label">Bootstrap</span>
                        <span class="service__label">GitHub</span>
                        <span class="service__label">WordPress</span>
                    </div>
                </div>

            </div>

        </div>

    </section>

    {% include 'partials/worklist.njk' %}

    {% include 'partials/tool.njk' %}

</main>

   