---
layout: layouts/main-layout.njk
title: Služby | Kateřina Procházková
---
    
<header class="bg-circles-dark top-shadow"> 

    <div class="container">

        <!--Menu-->
        {% include 'partials/menu.njk' %}

    </div>

    <div class="content__hero container">

        <h2 class="title-gradient">Navrhuji přehledné weby s&nbsp;důrazem na&nbsp;detail a&nbsp;funkčnost</h2>

    </div>

</header>

<main class="content-main">

    <section class="content-line bg-circles-light--turn">

        <div class="container padding">
        <!--služby 01-->
            <div class="service__cols-2">

                <img class="service__img service__col01" src="/images/icon1.png" alt="">

                <div class="service__col02">
                    <h3 class="service__title">Tvořím webové stránky</h3>
                    <p>Web design, wireframe. Macaroon cake apple pie carrot cake marzipan. Cookie brownie macaroon muffin chupa chups. Sesame snaps lollipop pie gingerbread donut. Danish tootsie roll sweet roll macaroon candy. Soufflé pastry soufflé jelly-o caramels sweet lollipop ice cream.</p>

                    <div class="service__labels">
                        <span class="service__label">Analýza</span>
                        <span class="service__label">Dotazník</span>
                        <span class="service__label">Wireframe</span>
                        <span class="service__label">Grafický návrh</span>
                        <span class="service__label">Kódování</span>
                        <span class="service__label">WordPress</span>
                    </div>
                </div>

            </div>

        <!--služby 02-->
            <div class="service__cols-2">

                <img class="service__img service__col01" src="/images/icon2.png" alt="">

                <div class="service__col02">
                    <h3 class="service__title">Tvorba ikon a ilustrace</h3>
                    <p>Web design, wireframe. Macaroon cake apple pie carrot cake marzipan. Cookie brownie macaroon muffin chupa chups. Sesame snaps lollipop pie gingerbread donut. Danish tootsie roll sweet roll macaroon candy. Soufflé pastry soufflé jelly-o caramels sweet lollipop ice cream.</p>

                    <div class="service__labels">
                        <span class="service__label">Ikony pro webové stránky</span>
                        <span class="service__label">Digitální ilustrace</span>
                    </div>
                </div>

            </div>
            
        <!--služby 03-->
            <div class="service__cols-2">

                <img class="service__img service__col01" src="/images/icon3.png" alt="">

                <div class="service__col02">
                    <h3 class="service__title">Kódování webových stránek</h3>
                    <p>Web design, wireframe. Macaroon cake apple pie carrot cake marzipan. Cookie brownie macaroon muffin chupa chups. Sesame snaps lollipop pie gingerbread donut. Danish tootsie roll sweet roll macaroon candy. Soufflé pastry soufflé jelly-o caramels sweet lollipop ice cream.</p>

                    <div class="service__labels">
                        <span class="service__label">HTML</span>
                        <span class="service__label">CSS</span>
                        <span class="service__label">Responzivní webové stránky</span>
                        <span class="service__label">Flexbox</span>
                        <span class="service__label">Grid</span>
                        <span class="service__label">Sass</span>
                        <span class="service__label">Bootstrap</span>
                        <span class="service__label">GitHub</span>
                        <span class="service__label">WordPress</span>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <section class="content-line">

        <div class="container">

            <div class="about__grid">

                <div>
                    <h2 class="about__title">Jak pracuji macaroon muffin</h2>

                    <p>Jaké mám hodnoty a přístup k práci. Přehledné weby. Detail. Sesame snaps lollipop pie gingerbread donut. Danish tootsie roll sweet roll macaroon candy. Soufflé pastry.</p> 
                </div>

                <div class="about__list">
                    <h3>Analýza</h3>
                    <p>Analýza Macaroon cake apple pie carrot cake marzipan. Cookie brownie macaroon muffin chupa chups. Sesame snaps lollipop</p>

                    <h3>Dotazník</h3>
                    <p>Důležité jsou správně položené otázky pro tvorbu Vašeho webu. Macaroon cake apple pie carrot cake marzipan. Cookie brownie macaroon muffin chupa chups. Sesame snaps lollipop</p>

                    <h3>Wireframe</h3>
                    <p>Wireframe Macaroon cake apple pie carrot cake marzipan. Cookie brownie macaroon muffin chupa chups. Sesame snaps lollipop</p>

                    <h3>Grafický návrh </h3>
                    <p>Grafický návrh Macaroon cake apple pie carrot cake marzipan. Cookie brownie macaroon muffin chupa chups.</p>

                    <h3>Kódování, Wordpress Elementor</h3>
                    <p>Kódování, Wordpress Elementor Macaroon cake apple pie carrot cake marzipan. Cookie brownie macaroon muffin chupa chups.</p>
                </div>

            </div>

        </div>

    </section>

    {% include 'partials/tool.njk' %}

</main>

   