<footer>

    {% if page.fileSlug !== "kontakt" %}
    <section class="content-line bg-circles-dark">

        <div class="container container-center">

            <h2 class="title-gradient">Co vytvořím pro&nbsp;vás? </h2>
            <a class="btn btn--dark" href="/kontakt/">Kontaktujte mě</a>

        </div>

    </section>
    {% endif %}


    <section class="footer">

        <p class="footer__copyright"><i class="fas fa-copyright"></i> 2021 Všechna práva vyhrazena – Kateřina Procházková</p>

        <div class="icon icon--horizontal icon--footer">
            <a href="https://www.facebook.com/" target="_blank" class="icon__link icon__link--horizontal"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/" target="_blank" class="icon__link icon__link--horizontal"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/" class="icon__link icon__link--horizontal"><i class="fab fa-linkedin-in"></i></a>
        </div>

        <a href="#" class="footer__arrow-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" viewBox="0 0 51.619 29.699">
                <path class="footer__arrow" data-name="arrow-top" d="M25.456,7.071,3.535,28.992,0,25.456,25.456,0l3.536,3.535h0L51.619,26.163,48.083,29.7Z"/>
            </svg>
        </a>
        
    </section>

</footer>