<section class="content-line bg-circles-light">

    <div class="container tool">

        <h2 class="title-dark">S jakými nástroji <br>a&nbsp;technologiemi pracuji</h2>

        <p class="tool__text">Pro grafický návrh webů používám aplikace od Adobe Creative Cloud a Affinity Designer. Svůj zdrojový kód píšu v editoru Visual Studio Code pomocí HTML5, CSS3 a preprocesorového jazyka Sass, umím také pracovat s frameworkem Bootstrap.</p>

        <div class="tool__set">
            <img class="tool__img" src="/images/tool1.png" alt="Ikona Adobe XD">
            <img class="tool__img" src="/images/tool2.png" alt="Ikona Adobe Illustrator">
            <img class="tool__img" src="/images/tool3.png" alt="Ikona Adobe Photoshop">
            <img class="tool__img" src="/images/tool4.png" alt="Ikona Affinity Designer">
            <img class="tool__img" src="/images/tool5.png" alt="Ikona Visual Studio Kode">
            <img class="tool__img" src="/images/tool6.png" alt="Ikona HTML5">
            <img class="tool__img" src="/images/tool7.png" alt="Ikona CSS3">
            <img class="tool__img" src="/images/tool8.png" alt="Ikona Sass">
            <img class="tool__img" src="/images/tool9.png" alt="Ikona Bootstrap 5">
        </div>

    </div>

</section>