<section class="content-line">

    <div class="container">

        <div class="about__grid">

            <div>
                <h2 class="about__title">Jak přistupuji ke&nbsp;své práci</h2>
                <p>Důležitá je pro mě funkčnost webu a&nbsp;dotažení&nbsp;každého detailu. Sleduji nové trendy v&nbsp;digitálním světě, ale nezapomínám na&nbsp;nadčasový a&nbsp;použitelný design.</p> 
            </div>

            <div class="about__list">
                <h3>Analýza</h3>
                <p>Než začnu tvořit projekt, provedu analýzu stávajícího webu. Probereme silné a&nbsp;slabé stránky vašeho podnikání a provedu rešerši konkurence na trhu.</p>

                <h3>Dotazník</h3>
                <p>Důležité jsou správně položené otázky, vyplníme společně dotazník a určíme si cíl, jaký má plnit Vaše webová stránka.</p>

                <h3>Wireframe</h3>
                <p>Na základě zhotoveného dotazníku a důkladné analýzy navrhnu wireframe (kostru webu), kde si definujeme funkci a celou strukturu webových stránek.</p>

                <h3>Grafický návrh </h3>
                <p>Poté se mohu vrhnout na grafický návrh. Prezentaci stránek zhotovuji v grafickém programu Adobe XD. Mohu také navrhnout ikony na míru, pro lepší orientaci na&nbsp;webu.</p>

                <h3>Kódování nebo Wordpress</h3>
                <p>Celý grafický návrh jsem schopna nakódovat, samozřejmostí je i responzivní design. Web také umím udělat na Wordpressu pomocí Elementoru.</p>
            </div>

        </div>

    </div>

</section>